html,body {
        margin:0;
padding: 0;
    height:100%;
}
body{
    font-size: 100%;
    width: 100%;
    height:auto;
    color:#EEE;
    font-family: 'Roboto', sans-serif;
    
}
#container {
min-height: 100%;
    position:relative;
}
.mainContent{
    padding: 6vw 0 0 8vw;
    height:auto;
    padding-bottom: 3vh;
    -webkit-backface-visibility: hidden;

}
#resume {
    font-size:4vh;
    line-height: 12vh;
}
#period {
    display:inline;
    font-weight: bolder;
    opacity: 0;
     -webkit-animation: fadein 0.5s; /* Safari, Chrome and Opera > 12.1 */
            animation-name: fadein;
    animation-duration:  0.5s;
     animation-delay: 1.3s;
    -webkit-animation-delay: 1.3s;
    animation-fill-mode: forwards;

}
#hiText {
    font-size:8vh;
    font-weight:600;
        opacity: 0;
     -webkit-animation: fadeinLeft 0.65s; /* Safari, Chrome and Opera > 12.1 */
            animation-name: fadeinLeft;
    animation-duration: 0.65s;
    animation-fill-mode: forwards;


}
#zachText {
    font-size:12vh;
    font-weight:700;
        opacity: 0;
     -webkit-animation-name: fadeinLeft; /* Safari, Chrome and Opera > 12.1 */
            animation-name: fadeinLeft;
    animation-duration: 0.65s;
     animation-delay: 0.65s;
    -webkit-animation-delay: 0.65s;
    animation-fill-mode: forwards;

    
}
.contentLine {
    font-size:3vh;
    font-weight: 200;
        opacity: 0;
     -webkit-animation: fadein 0.5s; /* Safari, Chrome and Opera > 12.1 */
            animation-name: fadein;
    animation-duration: 0.5s;
     animation-delay: 2.2s;
    -webkit-animation-delay: 2.2s;
    animation-fill-mode: forwards;

    margin-bottom: 2vh;
    margin-top: 2vh;
    display:inline-block;

}
#goodCodeText{
    font-weight: 900;
    font-size: 3vh;
    margin-top:3vh;
    margin-bottom: 6vh;
    display:inline-block;
}
a {
    color:#EEE;
    text-decoration: none;
}
.links{
    
    background-color: RGBA(255,255,255,0.15);
    -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}
.links:hover {
    background-color: RGBA(255,255,255,0.35);
}

#icons {
   // padding: 1vh 2vh 1vh 0vh;
    opacity: 0;
     -webkit-animation: fadein 0.5s; /* Safari, Chrome and Opera > 12.1 */
            animation: fadein 0.5s;
     animation-delay: 2.2s;
    -webkit-animation-delay: 2.2s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  //  position:fixed ;
    bottom:0;
    left:8vw;
     font-size:3vh;
    letter-spacing: 0.5vh;
    //height:5vh;
   // margin: 0;
   // clear:both;
    position: absolute;
    padding-bottom: 0.35vw;
}
@keyframes slideup {
    from {
        opacity: 0;
        margin-top:10vh;
    }
       to {
        opacity: 1;
        margin-top: 0;
    }
}
#background-canvas {
   position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-attachment: fixed;}

@keyframes fadeinLeft {
    from {
        margin-left: 10vh;
        opacity: 0;
    }
    to {
        margin-left: 0;

        opacity: 1;
    }
}
@keyframes fadein {
    from {
        opacity: 0;
    }
    to {

        opacity: 1;
    }
}