html,body {
        margin:0;
padding: 0;
    height:100%;
    background-color: #000;
}
* {-webkit-font-smoothing: antialiased;}
body{
    font-size: 100%;
    width: 100%;
    height:auto;
    color:#EEE;
    font-family: 'Roboto', sans-serif;
    background-color: #000;
}
#container {
min-height: 100%;
    position:relative;
}
.mainContent{
    padding: 6vw 0 0 8vw;
    height:auto;
    padding-bottom: 3vh;
}
#resume {
    font-size:4vh;
    line-height: 12vh;
}
#nameText {
    font-size:5vh;
    font-weight:700;
}
.contentLine {
    font-size:2.2vh;
    font-weight: 200;
    opacity: 0;
    animation: fadein 0.5s 0.5s forwards;
    -webkit-animation: fadein 0.5s 0.5s forwards;
    margin-bottom: 1.5vh;
    margin-top: 1.5vh;
    display:inline-block;
}
#goodCodeText{
    font-weight: 900;
    font-size: 3vh;
    margin-top:3vh;
    margin-bottom: 6vh;
    display:inline-block;
}
a {
    color:#EEE;
    text-decoration: none;
}
.links{
    
    background-color: RGBA(255,255,255,0.15);
    -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}
.links:hover {
    background-color: RGBA(255,255,255,0.35);
}

#icons {
    opacity: 0;
    animation: fadein 0.5s 0.5s forwards;
    -webkit-animation: fadein 0.5s 0.5s forwards;
    bottom:0;
    left:8vw;
    font-size:3vh;
    letter-spacing: 0.5vh;
    position: absolute;
    padding-bottom: 0.5vw;
}
@keyframes fadein {
    from {
        opacity: 0;
    }
    to {

        opacity: 1;
    }
}
